apiVersion: 1

datasources:
  - name: Prometheus
    # Stable UID used by dashboards and provisioning.
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
